@import url('https://fonts.googleapis.com/css2?family=Gluten:wght@700&family=Inter:wght@200&display=swap');

* {
  padding: 0;
  margin: 0;
}

/* Tablet (76px) to Desktop (1140px) */
@media screen and (min-width: 1080px) and (max-width: 1920px) {
  img {
    height: 50px;
    width: 50px;
  }
  
  .navbar {
    background-color: rgb(226, 204, 183);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 5rem;
    padding-right: 5rem;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  
  .navbar button {
    padding: 10px;
    border-radius: 20px;
    border: none;
    background-color: rgb(196, 245, 196);
    cursor: pointer;
  }
  
  .navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
  }
  
  .navbar ul li a {
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .container1 h2 {
    font-size: 60px;
    font-family: 'Gluten', cursive;
    padding-top: 15rem;
    padding-left: 10rem;
    line-height: 1.2;
  }
  
  .container1 {
    background-color: rgb(196, 245, 196);
    margin-top: 50px;
    padding-bottom: 15rem;
    border-bottom-left-radius: 70rem;
    border-top-left-radius: 70rem;
    border-bottom-right-radius: 70rem;
    border-top-right-radius: 70rem;
  }
  
  .container1 img {
    height: 550px;
    width: 800px;
    position: absolute;
    left: 55rem;
    bottom: 15rem;
  }
  
  .container1 button {
    padding: 20px;
    font-size: 15px;
    border-radius: 20px;
    border: none;
    color: white;
    background-color: rgb(240, 157, 3);
    position: relative;
    left: 24rem;
    top: 1rem;
    cursor: pointer;
  }

  
}
